.nav-container{
    height: 60px;
    border-bottom: 2px solid lightgray;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-size: 42px;
    letter-spacing: 0.2rem;
    padding: 5px 10px;
    margin: 2px;
    width: 125px;
    border-right: 6px solid orange;
    color: black;
    text-shadow: 4px 3px 4px;
    text-decoration: none;
  }