body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.btn{
  font-size: large;
  background-color: white;
  border-radius: 5px;
  margin: 2px;
  padding: 2px 7px;
}

.btn:hover{
  background-color: orange;
  color: white;
}


.form-container{
  border: 2px dashed darkgray;
  margin: 80px auto;
  max-width: 700px;
  padding: 10px;
}
